@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 6px;
  --border-color: rgba(46, 38, 61, 0.12);
  --primary-color: #8C57FF;
  --background-color: #F4F5FA;
  --header-height: 64px;
  --header-z-index: 1100;
  --footer-z-index: 10;
  --customizer-z-index: 1200;
  --search-z-index: 1400;
  --drawer-z-index: 1200;
  --backdrop-color: rgba(46, 38, 61, 0.5);
}

[data-dark] {
  --border-color: rgba(231, 227, 252, 0.12);
  --primary-color: #8C57FF;
  --background-color: #28243D;
  --backdrop-color: rgba(21, 16, 43, 0.6);
}
